.container-customers-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.container-customer {
  display: flex;
  padding: 5px;
  gap: 5px;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-edit-customer {
  background-color: transparent;
  cursor: pointer;
  color: green;
  font-weight: 600;
  border-color: green;
  border-radius: 0.25rem;
  height: 2.25rem;
  margin: auto 0;
}

.btn-edit-customer:hover {
  background-color: green;
  color: white;
}