.container-customers-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.container-customer {
  display: flex;
  padding: 5px;
  gap: 5px;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}