<div class="container-form">
  <input type="text" name="input-name" id="input-name" placeholder="Nome" >
  <input type="email" name="input-name" id="input-email" placeholder="Email" >
  <input type="text" name="input-name" id="input-cpf" placeholder="CPF" >
  <input type="text" name="input-name" id="input-phone" placeholder="Telefone" >
  <select name="status-select" id="status-select">
    <option>Ativo</option>
    <option>Inativo</option>
    <option>Aguardando Ativação</option>
    <option>Desativado</option>
  </select>
</div>