<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>
<link rel="stylesheet" href="/public/styles/header.css">
<link rel="stylesheet" href="/public/styles/customersList.css">
 
<body>
  <div class="header_container">
    <img src="/public/headerLogo.svg" alt="logo" id="header-logo" />
  </div>