<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Clientes</title>
    <!-- Adicione seus estilos e scripts aqui -->
</head>
<link rel="stylesheet" href="/public/styles/header.css">
<link rel="stylesheet" href="/public/styles/customersList.css">
<link rel="stylesheet" href="/public/styles/home.css">
<link rel="stylesheet" href="/public/styles/footer.css">
<link rel="stylesheet" href="/public/styles/editForm.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<body>
    <header>
        <!-- Conteúdo do header -->
        <%- include('header'); %>
    </header>

    <main>
        <!-- Conteúdo da página -->
        <button type="button" id="btn-new-customer">Novo Cliente</button>
        <%- body %>
    </main>

    <footer>
        <!-- Conteúdo do footer -->
        <%- include('footer'); %>
    </footer>
</body>
<script>
    document.getElementById('btn-new-customer').addEventListener('click', function() {
      window.location.href = '/customers/new-customer';
    });
  </script>
</html>