<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Clientes</title>
    <!-- Adicione seus estilos e scripts aqui -->
</head>
<link rel="stylesheet" href="/public/styles/header.css">
<link rel="stylesheet" href="/public/styles/customersList.css">
<link rel="stylesheet" href="/public/styles/home.css">
<link rel="stylesheet" href="/public/styles/footer.css">
<link rel="stylesheet" href="/public/styles/editForm.css">
<body>
    <header>
        <!-- Conteúdo do header -->
        <%- include('header'); %>
    </header>

    <main>
        <!-- Conteúdo da página -->
        <%- body %>
    </main>

    <footer>
        <!-- Conteúdo do footer -->
        <%- include('footer'); %>
    </footer>
</body>
</html>